# WEEK 3 DEMO - GWC Olympics

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt

# CSV URL
csv = "https://tinyurl.com/GWC-olympics"

# Load the CSV while skipping initial rows if the dataset has metadata
# Adjust skiprows if needed (try 0 first, then increase if you see metadata instead of column headers)
# This dataset has metadata for the first 5 rows, so we will set skiprows=5
df = pd.read_csv(csv, skiprows=5)

# Drops useless extra event column - don't worry about this part!
df = df.drop(df.columns[8], axis=1)

# Peek at the first few rows
df.head()

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1

# Working with column data

To view **all of the column names** in the dataframe, use the attribute `df.columns`.

Here is an example:

In [ ]:
print(df.columns)

Index(['Year', 'City', 'Sport', 'Discipline', 'Athlete Name', 'NOC', 'Gender',
       'Event', 'Medal', 'Position'],
      dtype='object')

If you want to view a **single** column within the dataframe, use the method `df["column_name"]`

In this example, we will view the "Athlete Names" column

In [ ]:
df['Athlete Name']

0             FLAMENG, Léon
1        KOLETTIS, Georgios
2             LANE, Francis
3          SZOKOLYI, Alajos
4             BURKE, Thomas
                ...
27169    LOGOUNOVA, Tatiana
27170         SIVKOVA, Anna
27171        BOKEL, Claudia
27172       DUPLITZER, Imke
27173     HEIDEMANN, Britta
Name: Athlete Name, Length: 27174, dtype: object

To view the **unique** values in a column, use the method `df["column_name'].unique()`

We can answer questions like:

What are the types of medals awarded?

In [ ]:
df["Medal"].unique()

array(['Gold', 'Silver', 'Bronze'], dtype=object)

Or,

What is the time range covered in this dataset?

In [ ]:
df['Year'].unique()

array([1896, 1900, 1904, 1908, 1912, 1920, 1924, 1928, 1932, 1936, 1948,
       1952, 1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992,
       1996, 2000, 2004])

To count the **occurrances** of the unique values in a column, use the method `df["column_name"].value_counts()`

If you want the relative frequencies (proportion of each unique value, which sums up to 1) instead of the raw counts, use the method `df["column_name"].value_counts(normalize = True)`

Across all of the Olympics, how many Gold, Silver, and Bronze medals have there been?

In [ ]:
# Returns the raw count of the occurances of the unique values
print(df["Medal"].value_counts(), "\n\n") # "\n" is an escape character, it
                                          # simply adds a new line!

# Returns the relative frequencies of the occurances of the unique values
print(df["Medal"].value_counts(normalize = True))

Medal
Gold      9181
Silver    9014
Bronze    8979
Name: count, dtype: int64


Medal
Gold      0.337860
Silver    0.331714
Bronze    0.330426
Name: proportion, dtype: float64

# Filtering through columns by value

If you want to **filter** through the columns by value, create a new variable; you can name it anything you want, but it will probably be the most helpful if you name it something relevant to the value you want to access.

After creating a new variable, assign whatever column you want to access and the value within that column.

For example:
Create a new dataset displaying all athletes who won a "Gold medal".

In [ ]:
# Creating a new variable
# Access the "Medal" column and retrieve only the athletes who won a "Gold medal"
gold_medalists = df[df["Medal"] == "Gold"]


# Displaying the new dataset that you created
# Using the `.head` method only displays the first 5 rows of the dataset,
# Unless you specify a number
gold_medalists.head(10)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1
6,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100m freestyle,Gold,1
9,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100m freestyle for sailors,Gold,1
12,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,Gold,1
14,1896,Athens,Athletics,Athletics,"CURTIS, Thomas",USA,Men,110m hurdles,Gold,1
16,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,12-hour race,Gold,1
19,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,1200m freestyle,Gold,1
22,1896,Athens,Athletics,Athletics,"FLACK, Edwin",AUS,Men,1500m,Gold,1
25,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,1km time trial,Gold,1

# Modifying columns

What if we don't need to see a column anymore? We can **remove** a column. We can do this by using `df.drop()`.

When we do this, we have to enter the name of the column and "axis = 1."
Axis 1 corresponds to the columns of the data set.

Here, we already know what medal they recieved, so we do not need the position column. Let's remove it!

We created a second variable, `df2`, so that we don't mess with the data in
our original DataFrame.

In [ ]:
df2 = df.drop("Position", axis=1)
df2

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold
...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,Gold
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,Gold
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,Silver
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,Silver
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,Silver

We can also remove multiple columns.

In [ ]:
df2.drop(["Sport","NOC"], axis=1, inplace = True)
df2

,Year,City,Discipline,Athlete Name,Gender,Event,Medal
0,1896,Athens,Cycling Track,"FLAMENG, Léon",Men,100km,Gold
1,1896,Athens,Cycling Track,"KOLETTIS, Georgios",Men,100km,Silver
2,1896,Athens,Athletics,"LANE, Francis",Men,100m,Bronze
3,1896,Athens,Athletics,"SZOKOLYI, Alajos",Men,100m,Bronze
4,1896,Athens,Athletics,"BURKE, Thomas",Men,100m,Gold
...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,"LOGOUNOVA, Tatiana",Women,épée team,Gold
27170,2004,Athens,Fencing,"SIVKOVA, Anna",Women,épée team,Gold
27171,2004,Athens,Fencing,"BOKEL, Claudia",Women,épée team,Silver
27172,2004,Athens,Fencing,"DUPLITZER, Imke",Women,épée team,Silver
27173,2004,Athens,Fencing,"HEIDEMANN, Britta",Women,épée team,Silver

# Filtering Rows

We can **filter** by rows as well, and display rows of just what we want.

Here are some examples of displaying rows with one condition.

In [ ]:
# Display the Olympics that happened in 1896
df[df['Year'] == 1896]

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1
...,...,...,...,...,...,...,...,...,...,...
146,1896,Athens,Athletics,Athletics,"CONNOLLY, James",USA,Men,triple jump,Gold,1
147,1896,Athens,Athletics,Athletics,"TUFFERI, Alexandre",FRA,Men,triple jump,Silver,2
148,1896,Athens,Gymnastics,Artistic G.,"WEINGÄRTNER, Hermann",GER,Men,vault,Bronze,3
149,1896,Athens,Gymnastics,Artistic G.,"SCHUMANN, Carl",GER,Men,vault,Gold,1
150,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,vault,Silver,2

In [ ]:
# Display all of the Olympics that happened only in Athens
df[df['City'] == 'Athens']

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,Silver,2

In [ ]:
# Display all medalists for one sport
df[df['Sport'] == 'Cycling']

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
11,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,10km,Bronze,3
12,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,Gold,1
13,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,10km,Silver,2
...,...,...,...,...,...,...,...,...,...,...
26686,2004,Athens,Cycling,Cycling Track,"SLYUSAREVA, Olga",RUS,Women,points race,Gold,1
26687,2004,Athens,Cycling,Cycling Track,"GUERRERO MENDEZ, Belem",MEX,Women,points race,Silver,2
26830,2004,Athens,Cycling,Cycling Track,"MEARES, Anna",AUS,Women,sprint,Bronze,3
26831,2004,Athens,Cycling,Cycling Track,"MUENZER, Lori-Ann",CAN,Women,sprint,Gold,1
26832,2004,Athens,Cycling,Cycling Track,"ABASSOVA, Tamilla",RUS,Women,sprint,Silver,2

If we want to display rows based on multiple conditions, we can use the | and & to represent "or" or "and".
For example:

In [ ]:
#Display the Olympics that happened in either 1896 OR 2004
df[(df['Year'] == 1896)|(df['Year'] == 2004)]

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,Silver,2

In [ ]:
# Display the medalists for one sport between the years 1986 and 2004
df[(df['Year'] >= 1896) & (df['Year'] <= 2004) & (df['Sport'] == 'Cycling')]

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
11,1896,Athens,Cycling,Cycling Track,"SCHMAL, Adolf",AUT,Men,10km,Bronze,3
12,1896,Athens,Cycling,Cycling Track,"MASSON, Paul",FRA,Men,10km,Gold,1
13,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,10km,Silver,2
...,...,...,...,...,...,...,...,...,...,...
26686,2004,Athens,Cycling,Cycling Track,"SLYUSAREVA, Olga",RUS,Women,points race,Gold,1
26687,2004,Athens,Cycling,Cycling Track,"GUERRERO MENDEZ, Belem",MEX,Women,points race,Silver,2
26830,2004,Athens,Cycling,Cycling Track,"MEARES, Anna",AUS,Women,sprint,Bronze,3
26831,2004,Athens,Cycling,Cycling Track,"MUENZER, Lori-Ann",CAN,Women,sprint,Gold,1
26832,2004,Athens,Cycling,Cycling Track,"ABASSOVA, Tamilla",RUS,Women,sprint,Silver,2

If you want to find all rows corresponding to the years 1896, 2000, and 2004:

In [ ]:
years_filter = [1896, 2000, 2004]
filtered_df = df[df['Year'].isin(years_filter)]
filtered_df

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
0,1896,Athens,Cycling,Cycling Track,"FLAMENG, Léon",FRA,Men,100km,Gold,1
1,1896,Athens,Cycling,Cycling Track,"KOLETTIS, Georgios",GRE,Men,100km,Silver,2
2,1896,Athens,Athletics,Athletics,"LANE, Francis",USA,Men,100m,Bronze,3
3,1896,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",HUN,Men,100m,Bronze,3
4,1896,Athens,Athletics,Athletics,"BURKE, Thomas",USA,Men,100m,Gold,1
...,...,...,...,...,...,...,...,...,...,...
27169,2004,Athens,Fencing,Fencing,"LOGOUNOVA, Tatiana",RUS,Women,épée team,Gold,1
27170,2004,Athens,Fencing,Fencing,"SIVKOVA, Anna",RUS,Women,épée team,Gold,1
27171,2004,Athens,Fencing,Fencing,"BOKEL, Claudia",GER,Women,épée team,Silver,2
27172,2004,Athens,Fencing,Fencing,"DUPLITZER, Imke",GER,Women,épée team,Silver,2
27173,2004,Athens,Fencing,Fencing,"HEIDEMANN, Britta",GER,Women,épée team,Silver,2

# String Methods

We can replace characters with `.str.replace()`. This is  useful when you want to change something in your data that occurs often.

This code replaces underscores with spaces in the Event column for better readability:

In [ ]:
df['Event'].str.replace('_', ' ')

0            100km
1            100km
2             100m
3             100m
4             100m
           ...
27169    épée team
27170    épée team
27171    épée team
27172    épée team
27173    épée team
Name: Event, Length: 27174, dtype: object

We can also filter using `.str.contains()`, which is helpful when searching through your data!

**Example Problem:**

Larisa Latynina is a legendary Soviet gymnast who holds the record for the most Olympic gold medals (9) in gymnastics and was the overall medal leader (18 total) for decades.
Filter the dataset to find all of the competitions Latynina was in:

In [ ]:
df_latynina = df[df["Athlete Name"].str.contains("Latynina", case=False)]
df_latynina

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
9372,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,floor exercises,Gold,1
9539,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,individual all-round,Gold,1
9679,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,team competition,Gold,1
9702,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,"team, portable apparatus",Bronze,3
9735,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,uneven bars,Silver,2
9741,1956,Melbourne / Stockholm,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,vault,Gold,1
10179,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,balance beam,Silver,2
10277,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,floor exercises,Gold,1
10458,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,individual all-round,Gold,1
10576,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,team competition,Gold,1
10612,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,uneven bars,Silver,2
10616,1960,Rome,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,vault,Bronze,3
11095,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,balance beam,Bronze,3
11195,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,floor exercises,Gold,1
11387,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,individual all-round,Silver,2
11517,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,team competition,Gold,1
11551,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,uneven bars,Bronze,3
11558,1964,Tokyo,Gymnastics,Artistic G.,"LATYNINA, Larisa",URS,Women,vault,Silver,2

This code ignores the case of her name. If we didn’t use `case=False` we wouldn’t get anything back because Latynina is all caps in the dataset.

Another thing we can do is split strings using `.str.split()`. In this example, we are splitting the event names using a space as a delimiter and extracting the first word:

In [ ]:
df['Event_First_Word'] = df['Event'].str.split(' ').str[0]
df['Event_First_Word']

0        100km
1        100km
2         100m
3         100m
4         100m
         ...
27169     épée
27170     épée
27171     épée
27172     épée
27173     épée
Name: Event_First_Word, Length: 27174, dtype: object

# Sorting Dataframes

We can also sort the data frame! This can be helpful for many reasons and help us search through the set more efficiently. We can do this with the `sort_values()` method.

First, let's start by sorting using the column name.

In [ ]:
# Sort data set by athlete names
df.sort_values("Athlete Name")

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
611,1900,Paris,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,tug of war,Gold,1
3060,1920,Antwerp,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,Bronze,3
2963,1920,Antwerp,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,Bronze,3
7792,1948,London,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,individual all-round,Bronze,3
7906,1948,London,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,team competition,Gold,1
...,...,...,...,...,...,...,...,...,...,...
275,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, prone",Bronze,3
443,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",Silver,2
280,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",Silver,2
268,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",Bronze,3
8125,1952,Helsinki,Aquatics,Swimming,"ÖSTRAND, Per-Olof",SWE,Men,400m freestyle,Bronze,3

Now, let's say we want it specifically to be ascending or descending order. In the previous example, it alphabetizes their names. But what if we want it from the bottom to the top? We can set **ascending** equal to **False**.

In [ ]:
# Sort by athlete names, descending
df.sort_values("Athlete Name", ascending = False)

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
8125,1952,Helsinki,Aquatics,Swimming,"ÖSTRAND, Per-Olof",SWE,Men,400m freestyle,Bronze,3
268,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, 3 positions",Bronze,3
443,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"free rifle, team",Silver,2
275,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, prone",Bronze,3
280,1900,Paris,Shooting,Shooting,"ÖSTMO, Ole",NOR,Men,"army rifle, 300m, standing",Silver,2
...,...,...,...,...,...,...,...,...,...,...
7967,1948,London,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,vault,Gold,1
7792,1948,London,Gymnastics,Artistic G.,"AALTONEN, Paavo Johannes",FIN,Men,individual all-round,Bronze,3
2963,1920,Antwerp,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,200m breaststroke,Bronze,3
3060,1920,Antwerp,Aquatics,Swimming,"AALTONEN, Arvo Ossian",FIN,Men,400m breaststroke,Bronze,3
611,1900,Paris,Tug of War,Tug of War,"AABYE, Edgar",ZZX,Men,tug of war,Gold,1

We can also manipulate more than one column, and individually decide if we want them to be ascending or descending.

In [ ]:
# sort by year and athlete name
df.sort_values(by = ["Year", "Athlete Name"])

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
20,1896,Athens,Aquatics,Swimming,"ANDREOU, Joannis",GRE,Men,1200m freestyle,Silver,2
103,1896,Athens,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,rope climbing,Gold,1
141,1896,Athens,Gymnastics,Artistic G.,"ANDRIAKOPOULOS, Nicolaos",GRE,Men,"team, parallel bars",Silver,2
142,1896,Athens,Gymnastics,Artistic G.,"ATHANASOPOULOS, Spyros",GRE,Men,"team, parallel bars",Silver,2
79,1896,Athens,Cycling,Cycling Road,"BATTEL, Edward",GBR,Men,individual road race,Bronze,3
...,...,...,...,...,...,...,...,...,...,...
25753,2004,Athens,Boxing,Boxing,"ZUYEV, Viktar",BLR,Men,81 - 91kg (heavyweight),Silver,2
25748,2004,Athens,Judo,Judo,"ZVIADAURI, Zurab",GEO,Men,81 - 90kg (middleweight),Gold,1
26570,2004,Athens,Hockey,Hockey,"ZWEHL, Julia",GER,Women,hockey,Gold,1
25440,2004,Athens,Aquatics,Swimming,"ZWERING, Klaas-Erik",NED,Men,4x100m freestyle relay,Silver,2
25587,2004,Athens,Athletics,Athletics,"ZYKINA, Olesya",RUS,Women,4x400m relay,Silver,2

In [ ]:
# Sort year in descending order, and athlete name in ascending order
df.sort_values(by = ["Year", "Athlete Name"], ascending = [False, True])

,Year,City,Sport,Discipline,Athlete Name,NOC,Gender,Event,Medal,Position
25212,2004,Athens,Wrestling,Wrestling Free.,"ABAS, Stephen",USA,Men,- 55kg,Silver,2
26832,2004,Athens,Cycling,Cycling Track,"ABASSOVA, Tamilla",RUS,Women,sprint,Silver,2
25418,2004,Athens,Taekwondo,Taekwondo,"ABDALLAH, Nia",USA,Women,49 - 57 kg,Silver,2
25726,2004,Athens,Wrestling,Wrestling Gre-R,"ABRAHAMIAN, Ara",SWE,Men,74 - 84kg,Silver,2
26997,2004,Athens,Volleyball,Volleyball,"ABRAMOV, Pavel",RUS,Men,volleyball,Bronze,3
...,...,...,...,...,...,...,...,...,...,...
104,1896,Athens,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,rope climbing,Silver,2
144,1896,Athens,Gymnastics,Artistic G.,"XENAKIS, Thomasios",GRE,Men,"team, parallel bars",Silver,2
92,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,parallel bars,Silver,2
97,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,pommel horse,Gold,1
150,1896,Athens,Gymnastics,Artistic G.,"ZUTTER, Louis",SUI,Men,vault,Silver,2